* {
  box-sizing: border-box;
  font-family: montserrat;
  margin: 0;
  padding: 0;
}

.header-side-bar {
  background-color: #182444;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
.left-container {
  background-color: #343a40;
  height: 100vh;
}

.nav-item a, h5 {
  text-decoration: none;
  color: #fff;	
  font-size: 20px;
}
.nav-item hr {
  color: #fff;
}
.nav-item .active {
  color: #007bff;
}

.right-container {
  height: 100vh;
}
.input-group-text{
	text-decoration: none;
}

.list-item-details {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.list-group {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  height: 70vh;
  overflow-y: auto;
}
